<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         syntaxCheck="false"
        >
    <testsuites>
        <testsuite name="Application Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>

    <logging>
        <log type="testdox-text" target="log/testdox.txt" />
        <log type="testdox-html" target="log/testdox.html" />
        <log type="coverage-html"
             target="log/report"
             charset="UTF-8"
             yui="true"
             highlight="true"
             lowUpperBound="50"
             highLowerBound="80"/>
    </logging>

    <php>
        <ini name="error_reporting" value="-1" />
        <ini name="display_errors" value="On" />
        <ini name="display_startup_errors" value="On" />
        <ini name="log_errors" value="On" />
        <ini name="log_errors_max_len" value="0" />
        <ini name="ignore_repeated_errors" value="Off" />
        <ini name="ignore_repeated_source" value="Off" />
        <ini name="report_memleaks" value="On" />
        <ini name="track_errors" value="On" />
        <ini name="html_errors" value="Off" />
        <ini name="xmlrpc_errors" value="Off" />
        <ini name="xmlrpc_error_number" value="Off" />
        <ini name="docref_root" value=".php" />
        <ini name="error_prepend_string" value="" />
        <ini name="error_append_string" value="" />
        <ini name="memory_limit" value="1024M" />
    </php>
</phpunit>